:disabled{
    cursor: not-allowed;
    opacity: 0.7;
}

.github-app{
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin: 0;
}

.github-app .search-container{
    border: 1px solid darkgrey;
    padding: 15px 10px;
    background-color:#fafafa;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.p10{
    padding: 10px;
}

.mb15{
    margin-bottom: 15px;
}

.w67{
    width: 67%;
}

.w11{
    width: 11%;
}

.w13{
    width: 13%;
}

.mr8{
    margin-right: 8px;
}

.mr13{
    margin-right: 13px;
}

.m0{
    margin: 0px;
}

.pl5{
    padding-left: 5px;
}

.br5{
    border-radius: 4px;
    border: 1px solid #a9a9a96b;
}

.github-app .search-container .submit-btn{
    color: #fff;
    background-color: #7EBE5B;
    font-size: 14px;
}

.github-app .search-container .clear-btn{
    color: #862721;
    font-size: 14px;
}

.github-app .list-container{
    border: 1px solid darkgrey;
    padding: 10px;
    color: #333;
    border-top: none;
}